<p><%= link_to "#{@user.follow_count} following", show_following_user_path, class: "font-weight-bold" %></p>
<p><%= link_to "#{@user.followers_count} followers", show_followers_user_path, class: "font-weight-bold" %><p>
